1 VERSIONINFO FILEVERSION %s PRODUCTVERSION 1,0,0,0 FILEOS 0x40004 FILETYPE 0x1 { BLOCK "StringFileInfo" { BLOCK "000004B0" { VALUE "FileVersion", "%s" VALUE "ProductVersion", "1.0.0.0" VALUE "OriginalFilename", "%s" VALUE "InternalName", "%s" VALUE "FileDescription", "%s" VALUE "CompanyName", "%s" VALUE "LegalCopyright", "Copyright (c) %s" VALUE "ProductName", "%s" } } BLOCK "VarFileInfo" { VALUE "Translation", 0x0000 0x04B0  }}